.adp-list {
    justify-content: center;
    text-align: center;
}
.scroller{
    display: grid;
    grid-column: 1/5;
    gap: 3px;
    justify-content: center;
    
    overflow: auto;
    border: 1px;
}

.titles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 350px;
    width: 400px;
    margin: auto;
}

