.PlayersList {
    justify-content: center;
    margin: auto;
    width: 500px;
    border: 1px;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
    border-radius: 10px;
    background-color: #383838;
}